<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.user.service.dao.ServiceTypeOptionsMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.user.dto.ServiceTypeOptions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="service_value" property="serviceValue" jdbcType="VARCHAR" />
    <result column="service_option" property="serviceOption" jdbcType="VARCHAR" />
    <result column="is_validate" property="isValidate" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, service_id, service_value, service_option, is_validate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.user.dto.ServiceTypeOptionsCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_type_options
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_type_options
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from service_type_options
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.user.dto.ServiceTypeOptionsCriteria" >
    delete from service_type_options
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.user.dto.ServiceTypeOptions" >
    insert into service_type_options (id, service_id, service_value, 
      service_option, is_validate)
    values (#{id,jdbcType=INTEGER}, #{serviceId,jdbcType=INTEGER}, #{serviceValue,jdbcType=VARCHAR}, 
      #{serviceOption,jdbcType=VARCHAR}, #{isValidate,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.user.dto.ServiceTypeOptions" >
    insert into service_type_options
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="serviceValue != null" >
        service_value,
      </if>
      <if test="serviceOption != null" >
        service_option,
      </if>
      <if test="isValidate != null" >
        is_validate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="serviceValue != null" >
        #{serviceValue,jdbcType=VARCHAR},
      </if>
      <if test="serviceOption != null" >
        #{serviceOption,jdbcType=VARCHAR},
      </if>
      <if test="isValidate != null" >
        #{isValidate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.user.dto.ServiceTypeOptionsCriteria" resultType="java.lang.Integer" >
    select count(*) from service_type_options
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update service_type_options
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.serviceId != null" >
        service_id = #{record.serviceId,jdbcType=INTEGER},
      </if>
      <if test="record.serviceValue != null" >
        service_value = #{record.serviceValue,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceOption != null" >
        service_option = #{record.serviceOption,jdbcType=VARCHAR},
      </if>
      <if test="record.isValidate != null" >
        is_validate = #{record.isValidate,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update service_type_options
    set id = #{record.id,jdbcType=INTEGER},
      service_id = #{record.serviceId,jdbcType=INTEGER},
      service_value = #{record.serviceValue,jdbcType=VARCHAR},
      service_option = #{record.serviceOption,jdbcType=VARCHAR},
      is_validate = #{record.isValidate,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.user.dto.ServiceTypeOptions" >
    update service_type_options
    <set >
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="serviceValue != null" >
        service_value = #{serviceValue,jdbcType=VARCHAR},
      </if>
      <if test="serviceOption != null" >
        service_option = #{serviceOption,jdbcType=VARCHAR},
      </if>
      <if test="isValidate != null" >
        is_validate = #{isValidate,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.user.dto.ServiceTypeOptions" >
    update service_type_options
    set service_id = #{serviceId,jdbcType=INTEGER},
      service_value = #{serviceValue,jdbcType=VARCHAR},
      service_option = #{serviceOption,jdbcType=VARCHAR},
      is_validate = #{isValidate,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>