<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://repo.alibaba-inc.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd 
    	http://repo.alibaba-inc.com/schema/dubbo 
    	http://repo.alibaba-inc.com/schema/dubbo/dubbo-component.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="config" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
		<list>
			<value>classpath:context/jdbc.properties</value>
			<value>classpath:context/dubbo.properties</value>
			<value>classpath:context/zookeeper.properties</value>
		</list>
		</property>
    </bean>
    
	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxTotal" value="${jdbc.maxTotal}" />
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<property name="maxWaitMillis" value="${jdbc.maxWaitMillis}" />
		<property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}" />
	</bean>
 
    <bean id="configStore" class="com.ai.paas.ipaas.zookeeper.SysConfigStore" >
    	<property name="dataSource" ref="ds" />
    	<property name="zkAddress" value="${zookeeper.address}" />
		<property name="zkUser" value="${zookeeper.user}" />
		<property name="zkPasswd" value="${zookeeper.passwd}" />
		<property name="timeOut" value="${zookeeper.timeout}" />
		<property name="storePath" value="${zookeeper.storePath}" />
    </bean>
    
    <bean id="loadConfig" class="com.ai.paas.ipaas.zookeeper.SystemConfigHandler" >
    </bean>
</beans>